#page_logo {
    background-image: url('https://images.wallpaperscraft.com/image/field_grass_rain_clouds_wind_weather_48127_1366x768.jpg');
    background-color: transparent !important;
    background-size: cover !important;
}
//  ion-input.ng-invalid{
//     border-bottom: 1px solid blue;
// }

// ion-input.ng-valid{
//      border-bottom: 1px solid rgb(255, 0, 0);
// }
