<!--
  Generated template for the DashboradPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-row>
    <ion-col col-2>
      <button ion-button menuToggle clear>
        <ion-icon style="font-size:25px" name="menu" color="light"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-8 style="text-align: center;margin-top: 10px;">
      <!-- <ion-icon name="navigate" style="color:rgb(255, 255, 255); font-size: 20px;"></ion-icon> -->
      <label style="color:white; font-size:25px;"><b>Dashborad</b></label>
      <!-- <label style="text-align:center; color: rgb(5, 5, 5); font-size: 13px;">{{all}}</label> -->

    </ion-col>

  </ion-row>
</ion-header>

<ion-content id='page'>
  <ion-row>
    <ion-col col-6>
      <ion-card id="bg_esp8266" style=" height: 100px;">
        <ion-row>
          <ion-col style="text-align: center">
            <label class="txt" style="color:white; font-size:15px">NodeMCU</label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="text-align: center">
            <label class="txt" style="color:white;  font-size:25px;">2</label>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col col-6>
      <ion-card style="height: 100px;" id="bg_nb-iot">
        <ion-row>
          <ion-col style="text-align: center">
            <label style="font-size:15px;color:white">NB-IoT</label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="text-align: center">
            <label style="font-size:25px;color:white">1</label>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item style="font-size: 18px; background-color: rgba(255, 255, 255, 0.728);">
        <ion-label>
          <ion-row>
            <ion-col col-6>
              Total Device :
            </ion-col>
            <ion-col col-6 style="text-align:right">
              6 Unit
            </ion-col>
          </ion-row>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item style="background-color: rgba(255, 255, 255, 0.728);">
        <ion-label style="font-size:18px">Choose farm</ion-label>
        <ion-select  style="font-size:18px" [(ngModel)]="make_farm" (ionChange)="select_data_device()">
          <ion-option *ngFor="let item of farm; let i = index;" value="{{item}}">{{item}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row *ngIf=" make_farm != ' ' ">
    <ion-col>
      <ion-item no-lines style="background-color: brown; border-top-right-radius: 10px;border-top-left-radius: 10px;">
        <ion-icon name="hammer"></ion-icon>
        <ion-label style="font-size:18px;color:white"> <ion-icon name="leaf" style="color:rgb(159, 245, 22); font-size: 20px;"></ion-icon> {{make_farm}}</ion-label>
        <!-- <ion-icon style="margin-top: 15px; font-size:20px;color: white" *ngIf="check_data_account == 0" name="arrow-dropright-circle"
          item-end (click)="showDataAccount()"></ion-icon>
        <ion-icon style="margin-top: 15px; font-size:20px;color: white" *ngIf="check_data_account == 1" name="arrow-dropdown-circle"
          item-end (click)="showDataAccount()"></ion-icon> -->
      </ion-item>

      <ion-item no-line *ngFor="let items of all; let i = index;" style="color: white;background-color: rgba(15, 15, 15, 0.408);border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;">
        <label style="font-size:16px">{{dashboard_device_name[i]}}</label>
        <label>
          <ion-icon id="thermometer" name="sunny" style="font-size:14px; margin-right: 0px; margin-bottom: 10px; color:rgb(230, 119, 0)"></ion-icon>
        </label>
        <label style="font-size:16px">{{dashboard_temp[i]}}°C</label>
        <ion-icon id="water" name="water" style="font-size:14px; margin-left: 0px; margin-top: 6px; color:rgb(27, 108, 206)"></ion-icon>
        <label style="font-size:16px">{{dashboard_humid[i]}}%</label>
        <ion-icon name="speedometer" style="font-size:14px;margin-left: 0px; margin-bottom: 10px; color:rgb(11, 243, 247)"></ion-icon>
        <label style="font-size:16px">{{dashboard_pressure[i]}} Pa</label>
        <ion-icon name="bulb" style="font-size: 14px; margin-right: 0px; margin-top: 6px; color:rgb(237, 248, 17)"></ion-icon>
        <label style="font-size:16px">{{dashboard_light[i]}} Lux</label>
        <button ion-button style="margin-bottom: 12px" color="primary">
          <ion-icon style="margin-left:8px; font-size:16px" name="search" item-end (click) = "detail_device(dashboard_device_key[i])"></ion-icon>
        </button>
      </ion-item>
    </ion-col>
  </ion-row>


  


</ion-content>