#page{
    background-image: url('https://images.wallpaperscraft.com/image/field_grass_rain_clouds_wind_weather_48127_1366x768.jpg');
    background-color: transparent !important;
    background-size: cover !important;
}

#bg {
    background-color:rgba(41, 231, 225, 0.469);
}
    #bg .txt {
        font-weight:bold;
        color:#000000;
    }