<ion-header>
  <ion-row>
    <ion-col col-2>
      <button ion-button menuToggle clear>
        <ion-icon style="font-size:25px" name="menu" color="light"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-8 style="text-align: center;margin-top: 10px;">
      <!-- <ion-icon name="navigate" style="color:rgb(255, 255, 255); font-size: 20px;"></ion-icon> -->
      <label style="color:white; font-size:25px;"><b>สภาพอากาศปัจุจบัน</b></label>
      <!-- <label style="text-align:center; color: rgb(5, 5, 5); font-size: 13px;">{{all}}</label> -->

    </ion-col>
  </ion-row>
</ion-header>

<ion-content id="page" style="margin-top: 2px">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="เลือนลงมา" refreshingSpinner="circles"
      refreshingText="refresh...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-row>
    <ion-col col-6>
      <ion-item style="background-color: rgba(255, 255, 255, 0.728);border-radius: 10px">
        <ion-label style="font-size:18px">เลือกสถานที่</ion-label>
        <ion-select [(ngModel)]="place">
          <ion-option value="1">ไร่เห็ด</ion-option>
          <ion-option value="2">ไร่ข้าวโพด</ion-option>
          <ion-option value="3">ไร่ผักกาก</ion-option>
          <ion-option value="4">ไร่ข้าวสาลี</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col col-6>
      <ion-item style="background-color: rgba(255, 255, 255, 0.728);border-radius: 10px">
        <ion-label style="font-size:18px">เลือกอุปกรณ์</ion-label>
        <ion-select [(ngModel)]="type">
          <ion-option value="1">device 1</ion-option>
          <ion-option value="2">device 2</ion-option>
          <ion-option value="3">device 3</ion-option>
          <ion-option value="4">device 4</ion-option>
          <ion-option value="5">device 5</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>


  <ion-scroll scrollX="true" direction="x">
    <ion-card id="bg1" *ngFor="let items of data_device_all; let i = index;" style="height:1000px; border-radius: 25px;">
      <ion-row>
        <ion-col col-6 style="text-align: center;margin-top: 8px;">
          <ion-icon name="leaf" style="color:rgb(255, 255, 255); font-size: 20px;"></ion-icon>
          <label style="color:white; font-size:16px;">{{data_device_all_name[i]}}</label>
          <!-- <label style="text-align:center; color: rgb(5, 5, 5); font-size: 13px;">{{all}}</label> -->
        </ion-col>
        <ion-col col-6 style="text-align: center;margin-top: 8px;font-size: 16px">
          <ion-icon name="navigate" style="color:rgb(255, 255, 255); font-size: 20px;"></ion-icon>
          <label style="color:white; font-size:16px;">{{district}}</label>
          <!-- <label style="text-align:center; color: rgb(5, 5, 5); font-size: 13px;">{{all}}</label> -->
        </ion-col>
      </ion-row>

      <div style=" border-bottom: 2px solid rgba(249, 254, 255, 0.333);margin: 10px 0;width: 100%;"> </div>

      <ion-row style="margin-top: 10px;">
        <ion-col col-6 style="margin-top: 0px">
          <ion-row>
            <ion-col>
              <label style="font-size:30px;color: white;margin-left: 20px;margin-top: 50px">{{data_device_all_temp[i]}}°C/{{data_device_all_falenhigh[i]}}F</label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <label style="margin-left: 20px; font-size:15px;color:aliceblue">
                <label style="margin-left: 0px;color:aliceblue">เซลเซียส/ฟาเรนไฮต์</label>
              </label>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-6 style="text-align: right">
          <ion-icon id="thermometer" name="sunny" style="font-size:80px;margin-right: 20px; margin-bottom: 10px; color:rgb(230, 119, 0)"></ion-icon>
        </ion-col>
      </ion-row>

      <div style=" border-bottom: 2px solid rgba(249, 254, 255, 0.333);margin: 10px 0;width: 100%;"> </div>

      <ion-row style="margin-top: 0px;">
        <ion-col col-6 style="margin-top: 0px">
          <ion-icon id="water" name="water" style="font-size:70px; margin-left: 20px; margin-bottom: 10px; color:rgb(27, 108, 206)"></ion-icon>
          <ion-icon id="water" name="water" style="font-size:50px; margin-left: 0px; margin-bottom: 10px; color:rgb(55, 128, 218)"></ion-icon>
          <ion-icon id="water" name="water" style="font-size:30px; margin-left: 0px; margin-bottom: 10px; color:rgb(70, 123, 189)"></ion-icon>
        </ion-col>
        <ion-col col-6 style="text-align: right">
          <ion-row>
            <ion-col>
              <label style="font-size:30px;color: white;margin-right: 20px;margin-top: 50px">{{data_device_all_humid[i]}}%</label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <label style="margin-right: 20px; font-size:15px;color:aliceblue">ความชื้นสัมพัทธ์</label>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <div style=" border-bottom: 2px solid rgba(249, 254, 255, 0.333);margin: 10px 0;width: 100%;"> </div>

      <ion-row style="margin-top: 10px;">
        <ion-col col-6 style="margin-top: 0px">
          <ion-row>
            <ion-col>
              <label style="font-size:30px;color: white;margin-left: 20px;margin-top: 50px">{{data_device_all_light[i]}}</label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <label style="margin-left: 20px; font-size:15px;color:aliceblue">
                <label style="margin-left: 0px;color:aliceblue">ความเข้มเเสง (LUX)</label>
              </label>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-6 style="text-align: right">
          <ion-icon name="bulb" style="font-size:75px;margin-right: 28px; margin-bottom: 10px; color:rgb(237, 248, 17)"></ion-icon>

        </ion-col>
      </ion-row>

      <div style=" border-bottom: 2px solid rgba(249, 254, 255, 0.333);margin: 10px 0;width: 100%;"> </div>

      <ion-row style="margin-top: 0px;">
        <ion-col col-6 style="margin-top: 0px">
          <ion-icon name="speedometer" style="font-size:70px;margin-left: 30px; margin-bottom: 10px; color:rgb(249, 253, 238)"></ion-icon>
        </ion-col>
        <ion-col col-6 style="text-align: right">
          <ion-row>
            <ion-col>
              <label style="font-size:25px;color: white;margin-right: 20px;margin-top: 50px">{{data_device_all_pressure[i]}}</label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <label style="margin-right: 20px; font-size:15px;color:aliceblue">ความดันอากาศ (ปาสคาล)</label>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <div style=" border-bottom: 2px solid rgba(249, 254, 255, 0.333);margin: 10px 0;width: 100%;"> </div>

      <ion-row>
        <ion-col col-6 style="text-align: left;font-size:15px;color:aliceblue;">
          อัพเดทเมื่อ :
          <ion-icon style="color:aliceblue;margin-left:20px" name="repeat"></ion-icon>
          {{data_device_all_date[i]}}/{{data_device_all_time[i]}}
        </ion-col>
        <ion-col col-6 style="text-align: right;font-size:12px;color:aliceblue;">
        </ion-col>
      </ion-row>

      <div style=" border-bottom: 2px solid rgba(249, 254, 255, 0.333);margin: 10px 0;width: 100%;"> </div>

      <ion-row>
        <ion-col col-12>
          <label style="font-size: 22px; margin-left: 20px; color: white;">รายละเอียด</label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6 style="text-align:center; margin-top: 10px;">
          <ion-icon name="outlet" class="image" style="color: rgb(140, 66, 17);font-size: 70px; margin-top : 20px;opacity: 1;"></ion-icon>
        </ion-col>
        <ion-col col-6 style="text-align:left; margin-top: 1px;">
          <ion-row>
            <ion-col>
              <label style="color:white; font-size: 12px  ">ชื่ออุปกรณ์ : {{data_device_all_names[i]}}</label>
            </ion-col>
          </ion-row>
          <div style=" border-bottom: 2px solid rgba(249, 254, 255, 0.333);margin: 10px 0;width: 95%;"> </div>
          <ion-row>
            <ion-col>
              <label style="color:white; font-size: 12px  ">รายละเอียด : {{data_device_all_name[i]}}</label>
            </ion-col>
          </ion-row>
          <div style=" border-bottom: 2px solid rgba(249, 254, 255, 0.333);margin: 10px 0;width: 95%;"> </div>
          <ion-row>
            <ion-col>
              <label style="color:white; font-size: 12px  ">ระดับสัญญาณ : </label>
              <label class="txt" *ngIf="data_device_all_rssi[i] > -50" style="color:rgb(15, 201, 15);opacity: 1;font-size:12px">ดีมาก({{data_device_all_rssi[i]}}
                dBm)</label>
              <label class="txt" *ngIf="data_device_all_rssi[i] < -50 && data_device_all_rssi[i] > -70" style="color:rgb(243, 202, 20);opacity: 1; font-size:12px">ดี({{data_device_all_rssi[i]}}
                dBm)</label>
              <label class="txt" *ngIf="data_device_all_rssi[i] < -70" style="color:rgb(255, 11, 2);opacity: 1; font-size:12px">แย่({{data_device_all_rssi[i]}}
                dBm)</label>
            </ion-col>
          </ion-row>

          <div style=" border-bottom: 2px solid rgba(249, 254, 255, 0.333);margin: 10px 0;width: 95%;"> </div>
          <ion-row>
            <ion-col>
              <label style="color:white; font-size: 12px  ">ชนิดอุปกรณ์ : ESP8266 </label>
            </ion-col>
          </ion-row>
          <div style=" border-bottom: 2px solid rgba(249, 254, 255, 0.333);margin: 10px 0;width: 95%;"> </div>
        </ion-col>
      </ion-row>

      <div style=" border-bottom: 3px solid rgba(249, 254, 255, 0.279);margin: 10px 0;width: 100%;"> </div>

      <!-- <ion-row>
        <ion-col col-10>
          <label style="font-size: 22px; margin-left: 20px; color: rgb(255, 255, 255);">การเเจ้งเตือน</label>
        </ion-col>
        <ion-col col-2 style="text-align: center">
          <ion-icon id="expand" style="font-weight: bold;color: aliceblue; margin-top: 10px" name="expand" (click)="fullmap()"></ion-icon>
        </ion-col>
      </ion-row> -->

      <!-- <ion-row style="text-align:left;margin-left: 25px">
        <ion-col col-12>
          <ion-icon id="pin" style="color:rgb(43, 221, 159); font-size: 16px" name="pin"></ion-icon>
          <label style="color:white; font-size: 16px  "> พิกัด : {{all}}</label>
        </ion-col>
      </ion-row> -->

      <!-- <ion-row> -->
      <!-- <ion-col col-6 style="text-align:center; margin-top: 10px;">
          <ion-icon name="map" style="color: rgb(62, 231, 15);font-size: 70px; margin-top : 20px;" (click)="fullmap()"></ion-icon>
        </ion-col>
        <ion-col col-6 style="text-align:left; margin-top: 1px;">
          <div style=" border-bottom: 2px solid rgba(249, 254, 255, 0.333);margin: 10px 0;width: 90%;"> </div>
          <ion-row>
            <ion-col>
              <label style="color:white; font-size: 12px  ">ละติจูด : 100.25000</label>
            </ion-col>
          </ion-row>
          <div style=" border-bottom: 2px solid rgba(249, 254, 255, 0.333);margin: 10px 0;width: 90%;"> </div>
          <ion-row>
            <ion-col>
              <label style="color:white; font-size: 12px  ">ลองติจูด : 736.2100</label>
            </ion-col>
          </ion-row>
          <div style=" border-bottom: 2px solid rgba(249, 254, 255, 0.333);margin: 10px 0;width: 90%;"> </div>
        </ion-col> -->
      <!-- </ion-row> -->
      <!-- <div style=" border-bottom: 3px solid rgba(249, 254, 255, 0.279);margin: 10px 0;width: 100%;"> </div> -->

      <ion-row style="margin-top: 10px">
        <ion-col col-6>
          <button ion-button block (click)="History(data_device_all_names[i])">
            <ion-icon name="stats" style="font-size:16px"></ion-icon> <label style="font-size:16px"> สภาพอากาศย้อนหลัง</label>
          </button>
        </ion-col>
        <ion-col col-6>
          <button ion-button block color="dark" (click)="notification(data_device_all_names[i],data_device_all_name[i])">
            <ion-icon name="notifications"></ion-icon><label style="font-size:16px">การเเจ้งเตือน</label>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-scroll>
</ion-content>